p {
    /* background-color: bisque; */
    color: brown;
}
h1 {
    background-color: aliceblue;
    color: blue;
}
/* id selector */
#step {
    background-color: antiquewhite; 
    color: rgb(39, 29, 16);
}
/* class selector */
.step2 {
    background-color: aqua;
    color: brown;
}
/* group selector */
h1,h2,p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* universal selector */
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
}